<footer class="bg-primary border-top mt-15">
    <div class="container">
        <div class="row py-5 mt-5">
            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <h3 class="text-white mb-2">Endereço</h3>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            Rua Guanabara, 1747 - Sala 05, São Cristóvão.
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <h3 class="text-white mb-2">Contato</h3>
                <ul class="nav flex-column">
                    <li class="nav-item text-white mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            +55 69 99329-4019
                        </a>
                    </li>
                    <li class="nav-item text-white mb-2">
                        <a href="#" class="nav-link p-0 text-white">
                            <%= "contato@nossoerp.com" %>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                <h3 class="text-white mb-2">Horário de Funcionamento</h3>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Segunda-feira - 08:00 às 18:00" %>
                        </span>
                    </li>
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Terça-feira - 08:00 às 18:00" %>
                        </span>
                    </li>
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Quarta-feira - 08:00 às 18:00" %>
                        </span>
                    </li>
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Quinta-feira - 08:00 às 18:00" %>
                        </span>
                    </li>
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Sexta-feira - 08:00 às 18:00" %>
                        </span>
                    </li>
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Sábado - 08:00 às 18:00" %>
                        </span>
                    </li>
                    <li class="nav-item mb-2">
                        <span class="text-white">
                            <%= "Domingo - 08:00 às 18:00" %>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>